<%= link_to 'Back', projects_path, class: 'btn btn-secondary mb-2' %>

<div class="card">
  <div class="card-body">
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span><%= @project.name%></span>
      <div>
        <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-light" %> 
        <%= link_to 'Destroy', @project, method: :delete, class: "btn btn-dark", data: { confirm: 'Are you sure?' } %>
      </div>
    </h2>

    <div class="mb-4">
      <h6>Add task</h6>
      <%= form_for([@task.project, @task])  do |f| %>
        <% if @task.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

            <ul>
            <% @task.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.hidden_field :status, value: 'not-started'%>

        <div class="input-group">
          <%= f.text_field :name, class: 'form-control', placeholder: 'Enter task name...' %>
          <div class="input-group-append">
            <%= f.submit class: "btn btn-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
    

    <h4>Tasks</h4>
    <div data-controller="tasks">
      <ul id="tasks-list" data-action="drop->tasks#sort">
        <% @project.tasks.each do |task| %>
          <% if task.persisted? %>
          <li class="list-item" data-task-id=" <%= task.id %>">
            <div class="card mb-3">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <svg class="bi bi-grip-horizontal task-grip" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    <span class="badge badge-<%= task.badge_color%> mb-3"> <%=task.status%> </span>
                  </div>
                  <div>
                    <%= link_to 'Edit', edit_project_task_path(task.project, task), class: 'btn btn-light btn-sm' %>
                    <%= link_to 'Destroy', [task.project, task], method: :delete, class: 'btn btn-dark btn-sm', data: { confirm: 'Are you sure?' } %>
                  </div>
                </div>
                <h5 class="card-title mb-2">
                  <span><%= task.name %></span>  
                </h5>
                <p> <%= task.description%> </p>
              </div>
            </div>
          </li>      
          <%end%>
        <%end%>
      </ul>
    </div>


  </div>
</div>